{% extends "base.html" %}

{% block content %}

<form action="/confirmation" method="post">
	<table align="center">
		<tr>
			<td>
				<label for = "username"> Username:</label>
			</td>
			<td>
				<input type="text" name="username" value= "{{user_name}}"/>
			</td>
		</tr>
		<tr>
			<td>
				<label for="password1">Password:</label>
			</td>
			<td>
				<input type="password" name="password1"/>
			</td>
		</tr>
		<tr>
			<td>
				<label for="password2">Confirm password: </label>
			</td>
			<td>
				<input type="password" name="password2"/>
			</td>
		</tr>
		<tr>
			<td>
				<label for="useremail"> Email (optional):</label>
			</td>
			<td>
				<input type="email" name="useremail"/>
				
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="Submit"/>
				{% if error %}
				<p class='error'>{{ error }}</p>
				{% endif %}
			</td>
		</tr>
	</table>
</form>



{% endblock %}